<footer class="footer">
  <a class="footer__link" href="./header.html"
    ><img src="./assets/images/ico-arrow.svg" alt="arrow" class="footer__arrow"
  /></a>
  <nav class="nav__books">
    <ul class="">
      <li>Articles</li>
      <li>Books</li>
      <li>Events</li>
      <li>Reasons</li>
      <li>Tips</li>
    </ul>
  </nav>

  <nav class="nav__networks">
    <ul class="">
      <li>Twitter</li>
      <li>Instargram</li>
      <li>Mastodon.social</li>
    </ul>
  </nav>

  <div class="footer__text">
    <p class="">&copy; 2021</p>
    <p class="">we🧡components</p>
  </div>
</footer>
