<footer class="footer">
  <nav class="social">
    <ul class="menu">
      <include
        li__class="li_item"
        src="./link.html"
        class="nav_link"
        url="https://adalab.es/"
        text="Articles"
      ></include>

      <include
        src="./link.html"
        class="nav_link"
        url="https://adalab.es/"
        text="Books"
      ></include>

      <include
        src="./link.html"
        class="nav_link"
        url="https://adalab.es/"
        text="Events"
      ></include>

      <include
        src="./link.html"
        class="nav_link"
        url="https://adalab.es/"
        text="Reasons"
      ></include>

      <include
        src="./link.html"
        class="nav_link"
        url="https://adalab.es/"
        text="Tips"
      ></include>
    </ul>
  </nav>

  <nav class="books">
    <ul class="menu">
      <include
        src="./link.html"
        class="nav_link"
        url="https://adalab.es/"
        text="Twitter"
      ></include>

      <include
        src="./link.html"
        class="nav_link"
        url="https://adalab.es/"
        text="Instargram"
      ></include>

      <include
        src="./link.html"
        class="nav_link"
        url="https://adalab.es/"
        text="Mastodon.social"
      ></include>
    </ul>
  </nav>

  <div class="footer__text">
    <p class="footer__p">&copy; 2021</p>
    <p class="footer__p">we 🧡components</p>
  </div>
</footer>
