<section class="purchase">
  <h2 class="h2">3 reasons to purchase</h2>
  <include
    src="./purchase_article.html"
    title="Ud set metus"
    text="Lorem ipsum dolor sit amet sac sca consectetur."
  ></include>
  <include
    src="./purchase_article.html"
    title="Curabitu at ecrat"
    text="Lorem ipsum dolor sitsa aca ca amet consectetur."
  ></include>
  <include
    src="./purchase_article.html"
    title="Morbi dictum"
    text="Lorem ipsum dolor sit as acsc asdsdsd s as amet."
  ></include>
  <button class="purchase__btn">More reasons</button>
</section>
