$roboto-slab-bold: "Roboto Slab", serif;
$roboto-regular: "Roboto", sans-serif;
$capitalize: capitalize;
$line-height: 30px;
$orange: #f26002;
// $web: "https://adalab.es/";

// $arrowHeight: calc(0vh + 200px);

@mixin tablet {
  @media (min-width: 768px) {
    @content;
  }
}
@mixin desktop {
  @media (min-width: 1200) {
    @content;
  }
}

@mixin text($family, $size, $trans, $line, $color) {
  font-family: $family;
  font-size: $size;
  text-transform: $trans;
  line-height: $line;
  color: $color;
}
