// fonts
// $font-main: "Roboto", sans-serif;

$roboto-slab-bold: "Roboto Slab", serif;
$roboto-regular: "Roboto", sans-serif;
$capitalize: capitalize;
$line-height: 30px;
$orange: #f26002;

// $arrowHeight: calc(0vh + 200px);

@mixin tablet {
  @media (min-width: 768px) {
    @content;
  }
}
@mixin desktop {
  @media (min-width: 1200) {
    @content;
  }
}
