.footer {
  background-color: #304268;
  height: 465px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 60px 15px 45px;

  @include tablet {
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: flex-start;
    height: 240px;
    padding: 60px 39px 45px;
  }

  & .menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    @include tablet {
      text-align: left;
    }
  }

  & .social {
    display: flex;
    justify-content: center;

    @include tablet {
      order: -1;
    }
  }

  & .books {
    display: flex;
    justify-content: center;
  }

  & .prueba {
    display: flex;
    justify-content: center;
  }

  &__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include tablet {
      justify-content: center;
      align-items: flex-start;
    }
  }

  & .nav_link {
    @include text($roboto-regular, 16px, uppercase, $line-height, white);
  }

  &__p {
    @include text($roboto-regular, 16px, lowercase, $line-height, white);
  }
}
