.looking {
  width: 100%;
  padding: 30px 15px 45px;

  @include tablet {
    padding: 30px 39px 60px;
    display: flex;
    flex-direction: column;
  }

  @include desktop {
    padding: 60px 275px;
  }

  &__pre-title {
    @include text($roboto-regular, 14px, $capitalize, $line-height, #8ccbea);

    @include tablet {
      order: 1;
    }

    @include desktop {
      font-size: 16px;
    }
  }
  & .h2 {
    text-align: left;
    word-spacing: 1.8vw;
    @include text($roboto-slab-bold, 24px, $capitalize, $line-height, black);

    @include tablet {
      font-size: 26px;
      line-height: 45px;
      word-spacing: normal;
      order: 0;
    }

    @include desktop {
      font-size: 32px;
    }
  }

  &__p {
    text-align: justify;
    padding-top: 15px;
    @include text($roboto-regular, 18px, none, $line-height, #4a4a4a);

    @include tablet {
      font-size: 20px;
      word-spacing: normal;
      order: 3;
    }
  }

  &__btn {
    margin-top: 78px;
    padding: 12px 27px;
    border-radius: 100px;
    border: 3px solid;
    border-color: $orange;
    background-color: $orange;
    font-weight: bold;
    transition: all ease-in-out 1s;
    @include text($roboto-regular, 20px, none, $line-height, white);

    &:hover {
      background-color: $orange;
      color: white;
    }

    @include tablet {
      margin-top: 28px;
      padding: 8px 27px;
      width: 91px;
      order: 4;
    }

    @include desktop {
      width: 160px;
    }
  }
}
