.purchase {
  background-color: #eff9ff;
  padding-top: 30px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 45px 1fr 1fr 1fr 1fr;
  row-gap: 1.5rem;
  text-align: center;

  @include tablet {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 1fr 0.5fr 0.5fr;
    grid-template-areas: "h2 h2 h2" "include_1 include_2 include_3" "btn btn btn" "arrow arrow arrow ";
    row-gap: 0rem;
    padding: 30px 35px 0px;
  }

  & .h2 {
    @include text($roboto-slab-bold, 24px, $capitalize, 30px, black);

    @include tablet {
      grid-area: h2;
    }
  }

  &__btn {
    margin: 32px 0px;
    padding: 12px 27px;
    border-radius: 100px;
    border: 3px solid;
    background-color: $orange;
    font-weight: bold;
    transition: all ease-in-out 1s;
    @include text($roboto-regular, 20px, none, $line-height, white);
    width: 184px;
    height: 50px;
    line-height: 10px;
    text-align: center;
    transform: translateX($btnWidth);

    &:hover {
      background-color: white;
      color: $orange;
    }

    @include tablet {
      width: 210px;
      transform: translateX($btnWidthTablet);
    }
  }

  &__link {
    width: 48px;
    height: 48px;
    background-color: white;
    border-radius: 50%;
    line-height: 50px;
    padding: 10px;
    display: block;
    text-align: center;
    transform: translate(10.3em, 50%);

    @include tablet {
      grid-area: arrow;
      transform: translate($arrowWidthTablet, 50%);
    }

    // transform: translate(40vw, 84px);
  }
}
