.purchase_article {
  padding: 0px 70px;

  @include tablet {
    padding: 10px 14px;
  }

  & .h3 {
    text-align: center;
    @include text($roboto-slab-bold, 18px, none, 30px, black);
  }
  & .p {
    text-align: center;
    @include text($roboto-regular, 18px, none, 30px, black);
  }
}
