.purchase {
  background-color: #eff9ff;
  padding-top: 30px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 45px 1fr 1fr 1fr 1fr;
  row-gap: 1.5rem;
  text-align: center;

  & .h2 {
    @include text($roboto-slab-bold, 24px, $capitalize, 30px, black);
  }

  &__btn {
    margin-top: 32px;
    padding: 12px 27px;
    border-radius: 100px;
    border: 3px solid;
    background-color: $orange;
    font-weight: bold;
    transition: all ease-in-out 1s;
    @include text($roboto-regular, 20px, none, $line-height, white);
    width: 70%;
    margin-left: 58px;

    &:hover {
      background-color: white;
      color: $orange;
    }
  }

  &__link {
    width: 48px;
    height: 48px;
    background-color: white;
    border-radius: 50%;
    line-height: 50px;
    padding: 10px;
    display: block;
    text-align: center;
    transform: translate(10.3em, 50%);

    // transform: translate(40vw, 84px);
  }
}
